<nav id="mainNavbar" class="navbar navbar-expand-md navbar-light bg-light py-1 px-2 border-bottom">
    <a href="/" class="navbar-brand fs-4">
        <strong>Score Plus</strong>
    </a>

    <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks"
        aria-label="Toggle navigation">
        <i class="fas fa-align-justify"></i>
    </button>

    <div class="collapse navbar-collapse" id="navLinks">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a href="/search" class="nav-link fs-5">
                    <span>
                        <i class="fas fa-search"></i>
                        <span>Search</span>
                    </span>
                </a>
            </li>
        </ul>
        <a href="/account" class="nav-link text-dark">
            <i class="fas fa-user fa-2x"></i>
        </a>
    </div>
</nav>