<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/score_plus" class="navbar-item">
            <strong>Score Plus</strong>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
            data-target="navbarTop">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarTop" class="navbar-menu">

        <div class="navbar-start">
            <a href="/search" class="navbar-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                    <span><strong>Search</strong></span>
                </span>
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbr-item">
                <div class="buttons">
                    <a href="/sign_up" class="button is-link is-light">
                        <strong>Sign up</strong>
                    </a>
                    <a href="/log_in" class="button is-light">
                        Log in
                    </a>
                </div>
            </div>
        </div>

    </div>
</nav>