<%-include('partials/head', {mySite: pageName})%>

    <body>
        <section class="section">
            <div class="container">
                <div class="col-md-6 offset-md-3">
                    <div id="mainCard" class="card">
                        <!--* Top navbar -->
                        <%-include('partials/navbar')%>

                            <!--*///// Start /////-->
                            <div class="container bg-light">
                                <div class="card-body">

                                    <!--* Main photo -->
                                    <div class="container">
                                        <img class="img-fluid img-thumbnail" src="/photo/ping_pong.jpg" alt="">
                                    </div>

                                    <!--* Score keeper navbar -->
                                    <nav id="scoreKeeperNav" class="navbar navbar-expand-lg navbar-light bg-light">
                                        <div class="container-fluid">
                                            <span class="navbar-brand"><strong><%=pageName%> Score Keeper</strong></span>

                                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#scoreKeeperLinks" aria-controls="scoreKeeperLinks"
                                                aria-expanded="false" aria-label="Toggle navigation">
                                                <i class="fas fa-align-justify"></i>
                                            </button>

                                            <div id="scoreKeeperLinks" class="collapse navbar-collapse">
                                                <!--* Game setting -->
                                                <ul class="navbar-nav mx-auto gap-3">
                                                    <li class="nav-item">
                                                        <span>Games</span>
                                                        <select class="form-select-sm" aria-label="Default select example">
                                                            <option selected value="1">1</option>
                                                            <option value="3">3</option>
                                                            <option value="5">5</option>
                                                            <option value="7">7</option>
                                                        </select>
                                                    </li>

                                                    <li class="nav-item">
                                                        <span>Play to</span>
                                                        <select class="form-select-sm" aria-label="Default select example">
                                                            <option selected value="3">3</option>
                                                            <option value="7">7</option>
                                                            <option value="11">11</option>
                                                            <option value="21">21</option>
                                                        </select>
                                                    </li>
                                                </ul>

                                                <!--* Save button and reset button -->
                                                <div class="dropdown">
                                                    <button id="scoreKeeperCog" class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <i class="fas fa-cog fa-lg"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="scoreKeeperCog">
                                                    <li>
                                                        <button id="saveBtn" class="btn dropdown-item" type="button">
                                                            <i class="fas fa-save"></i>
                                                            <span>Save</span>
                                                        </button>
                                                    </li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <!-- <li><a class="dropdown-item" href="#">Rematch</a></li> -->
                                                    <li>
                                                        <button id="resetBtn" class="btn dropdown-item" type="button">
                                                            <i class="fas fa-undo"></i>
                                                            <span>Reset</span>
                                                        </button>
                                                    </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </nav>

                                    <!--* Team list-->
                                    <div class="container">
                                        <div class="row mx-auto align-item-center">
                                            <!--* Team 1 -->
                                            <div class="col my-auto">
                                                <div class="dropup d-grid">
                                                    <button id="t1Button" class="btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <span class=""><strong>Team 1</strong></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="t1Button">
                                                        <li>
                                                            <div class="px-3 py-1">
                                                                <input id="t1NameInput" type="text" class="form-control" placeholder="Name" aria-label="Recipient's username" aria-describedby="t1Button">
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="btn-group dropdown-item">
                                                                <button id="t1Edit" class="btn btn-outline-secondary" type="button">
                                                                    <i class="fas fa-edit fa-lg"></i>
                                                                </button>

                                                                <button id="t1Add" class="btn btn-outline-secondary" type="button">
                                                                    <i class="fas fa-plus"></i>
                                                                </button>
                                                            
                                                                <button id="t1Remove" class="btn btn-outline-secondary" type="button">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <!--* Team 2 -->
                                            <div class="col my-auto">
                                                <div class="dropup d-grid">
                                                    <button id="t2Button" class="btn btn-outline-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <span class=""><strong>Team 2</strong></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="t2Button">
                                                        <li>
                                                            <div class="px-3 py-1">
                                                                <input id="t2NameInput" type="text" class="form-control" placeholder="Name" aria-label="Recipient's username" aria-describedby="t2Button">
                                                            </div>
                                                        </li>

                                                        <li>
                                                            <div class="btn-group dropdown-item">
                                                                <button id="t2Edit" class="btn btn-outline-secondary" type="button">
                                                                    <i class="fas fa-edit fa-lg"></i>
                                                                </button>

                                                                <button id="t2Add" class="btn btn-outline-secondary" type="button">
                                                                    <i class="fas fa-plus"></i>
                                                                </button>
                                                            
                                                                <button id="t2Remove" class="btn btn-outline-secondary" type="button">
                                                                    <i class="fas fa-minus"></i>
                                                                </button>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mx-auto align-item-center">
                                            <div class="col my-auto">
                                                <ul id="t1Mates" name="t1Mates" class="fw-bold py-1">
                                                    <li>Tirinde Quburu</li>
                                                    <li>陳曉明</li>
                                                </ul>
                                            </div>

                                            <div class="col my-auto">
                                                <ul id="t2Mates" name="t1Mates" class="fw-bold py-1">
                                                    
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>

                            <!--*///// End /////-->

                    </div>
                </div>
            </div>
        </section>

        <%-include('partials/app')%>

    </body>

    </html>