<%-include('partials/head', {mySite: pageName})%>

    <body>
        <section class="section">
            <div class="container">
                <div class="col-md-6 offset-md-3">
                    <div id="main-card" class="card">
                        <!--* Top navbar -->
                        <%-include('partials/navbar')%>

                            <!--*///// Start /////-->
                            <div class="container py-3 bg-secondary">

                                <div id="score-card" class="card-body bg-light">                               

                                    <!--* Score keeper navbar -->
                                    <nav id="score-nav" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                                        <div class="container-fluid">
                                            <span id="score-nav-title" class="navbar-brand"><strong><%=pageName%> Score Keeper</strong></span>

                                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                                data-bs-target="#score-nav-link" aria-controls="scoreKeeperLinks"
                                                aria-expanded="false" aria-label="Toggle navigation">
                                                <i class="fas fa-align-justify"></i>
                                            </button>

                                            <div id="score-nav-link" class="collapse navbar-collapse">
                                                <!--* Game setting -->
                                                <ul class="navbar-nav mx-auto">
                                                    <li class="nav-item">
                                                        <label for="gameSet" class="label d-inline">Games</label>
                                                        <select id="gameSet" class="form-select-sm px-1" aria-label="gameSet">
                                                            <option selected value="1">1</option>
                                                            <option value="3">3</option>
                                                            <option value="5">5</option>
                                                            <option value="7">7</option>
                                                        </select>
                                                        
                                                        <label for="playTo" class="label d-inline px-1">Play to</label>
                                                        <select id="playTo" class="form-select-sm" aria-label="playTo">
                                                            <option selected value="3">3</option>
                                                            <option value="7">7</option>
                                                            <option value="11">11</option>
                                                            <option value="21">21</option>
                                                        </select>

                                                        <!--* Share button and reset button -->
                                                        <button id="score-nav-cog" class="btn btn-sm btn-secondary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                            <i class="fas fa-cog fa-lg"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="scoreKeeperCog">
                                                            <!-- <li>
                                                                <button id="share-btn" class="btn btn-sm dropdown-item" type="button">
                                                                    <i class="fas fa-share-alt fa-lg"></i>
                                                                    <span class="px-2"><strong>Share</strong></span>
                                                                </button>
                                                            </li>
                                                            <li><hr class="dropdown-divider"></li> -->
                                                            <li>
                                                                <button id="clean-btn" class="btn btn-sm dropdown-item" type="button">
                                                                    <i class="fas fa-remove-format fa-lg"></i>
                                                                    <span><strong>Clean</strong></span>
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </nav>

                                    <!--* Score table -->
                                    <div class="container py-1">
                                        <table id="score-table" class="table border-top border-dark text-center">
                                            <thead class="table-secondary">
                                                <tr id="score-table-head">
                                                    <th scope="col" class="collapse table-dark">1st</th>
                                                    <th scope="col" class="collapse">2nd</th>
                                                    <th scope="col" class="collapse">3rd</th>
                                                    <th scope="col" class="collapse">4th</th>
                                                    <th scope="col" class="collapse">5th</th>
                                                    <th scope="col" class="collapse">6th</th>
                                                    <th scope="col" class="collapse">7th</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr id="score-table-t1">
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                </tr>
                                                <tr id="score-table-t2">
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                    <td class="cl-score collapse">0</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!--* Team list-->
                                    <div class="container">
                                        <!--* Team name -->
                                        <div class="row mx-auto align-item-center py-1">
                                            <!-- <i id="crownLeft" class="fas fa-crown fa-lg"></i> -->
                                            <div class="col my-auto d-grid">
                                                <button id="t1-btn" class="btn btn-outline-secondary fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#t1-tools" aria-expanded="false" aria-controls="t1-tools">
                                                    Team A
                                                </button>
                                            </div>
                                            
                                            <!-- <i id="crownRight" class="fas fa-crown fa-lg"></i> -->
                                            <div class="col my-auto d-grid">
                                                <button id="t2-btn" class="btn btn-outline-secondary fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#t2-tools" aria-expanded="false" aria-controls="t2-tools">
                                                    Team B
                                                </button>
                                            </div>
                                        </div>

                                        <!--* Tools -->
                                        <div class="row mx-auto align-item-center">
                                            <div class="col my-auto d-grid">
                                                <div id="t1-tools" class="collapse py-1">
                                                    <div class="card">
                                                        <div class="px-1 py-1">
                                                            <input id="t1-input" type="text" class="form-control" maxlength="18" placeholder="Name" aria-label="Recipient's username" aria-describedby="t1-input">
                                                        </div>
                                                        <div class="btn-group px-1 py-1">
                                                            <button id="t1-edit" class="btn btn-outline-secondary" type="button">
                                                                <i class="fas fa-edit"></i>
                                                            </button>

                                                            <button id="t1-add" class="btn btn-outline-secondary" type="button">
                                                                <i class="fas fa-user-plus"></i>
                                                            </button>
                                                        
                                                            <button id="t1-remove" class="btn btn-outline-secondary" type="button">
                                                                <i class="fas fa-user-minus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col my-auto d-grid">
                                                <div id="t2-tools" class="collapse py-1">
                                                    <div class="card">
                                                        <div class="px-1 py-1">
                                                            <input id="t2-input" type="text" class="form-control" maxlength="15" placeholder="Name" aria-label="Recipient's username" aria-describedby="t2-input">
                                                        </div>
                                                        <div class="btn-group px-1 py-1">
                                                            <button id="t2-edit" class="btn btn-outline-secondary" type="button">
                                                                <i class="fas fa-edit"></i>
                                                            </button>

                                                            <button id="t2-add" class="btn btn-outline-secondary" type="button">
                                                                <i class="fas fa-user-plus"></i>
                                                            </button>
                                                        
                                                            <button id="t2-remove" class="btn btn-outline-secondary" type="button">
                                                                <i class="fas fa-user-minus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!--* Team members -->
                                        <div class="row mx-auto align-item-center">
                                            <div class="col my-auto">
                                                <ul id="t1-mates" name="t1-mates" class="fw-bold py-1">
                                                    <li>Tataru</li>
                                                    <li>Minfilia</li>
                                                </ul>
                                            </div>

                                            <div class="col my-auto">
                                                <ul id="t2-mates" name="t2-mates" class="fw-bold py-1">
                                                    <li>Y'shtola</li>
                                                    <li>Emet</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <!--* Score board -->
                                    <div class="container">
                                        <div class="row justify-content-center">
                                            <div class="col-3 col-xxl-2 my-auto d-grid">
                                                <input id="t1-score" class="btn btn-outline-dark fw-bold fs-1 cl-score" type="button" value="0" disabled>
                                            </div>

                                            <div class="col-3 col-xxl-4 my-auto d-grid">
                                                <input id="deuce-bar" class="btn fs-5 fw-bold collapse" type="button" value="Deuce" disabled>
                                                <input id="win-bar" class="btn fs-5 fw-bold collapse" type="button" value="WIN" disabled>
                                            </div>

                                            <div class="col-3 col-xxl-2 my-auto d-grid">
                                                <input id="t2-score" class="btn btn-outline-dark fw-bold fs-1 cl-score" type="button" value="0" disabled>
                                            </div>
                                        </div>
                                    </div>

                                    <!--* Score buttons -->
                                    <div class="container py-4">
                                        <div class="row justify-content-around">
                                            <div class="col-5 btn-group">
                                                <button id="t1-minus" class="btn btn-outline-secondary" disabled>
                                                    <i class="fas fa-minus fa-lg"></i>
                                                </button>
                                                <button id="t1-plus" class="btn btn-outline-secondary">
                                                    <i class="fas fa-plus fa-lg"></i>
                                                </button>
                                            </div>

                                            <div class="col-5 btn-group">
                                                <button id="t2-minus" class="btn btn-outline-secondary" disabled>
                                                    <i class="fas fa-minus fa-lg"></i>
                                                </button>
                                                <button id="t2-plus" class="btn btn-outline-secondary">
                                                    <i class="fas fa-plus fa-lg"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <!--* Check next and rematch -->
                                    <div class="container">
                                        <div class="row justify-content-around">
                                            <div class="col-5 d-grid">
                                                <button id="rematch-btn" class="btn btn-outline-secondary fw-bold" disabled>
                                                    <i class="fas fa-undo"></i>
                                                    Rematch
                                                </button>
                                            </div>
                                            <div class="col-5 d-grid">
                                                <button id="next-btn" class="btn btn-outline-secondary fw-bold collapse" disabled>
                                                    <i class="fas fa-arrow-circle-right fa-lg"></i>
                                                    Next
                                                </button>
                                                <button id="save-btn" class="btn btn-outline-secondary fw-bold" disabled>
                                                    <i class="fas fa-save fa-lg"></i>
                                                    Save
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!--*///// End /////-->

                    </div>
                </div>
            </div>
        </section>

        <script src="app.js"></script>

        <script src="data_control.js"></script>

        <%-include('partials/app')%>

    </body>

    </html>