<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=pageName%></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:3000/app.css">
    <script src="https://kit.fontawesome.com/81f75954b8.js" crossorigin="anonymous"></script>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="col-md-6 offset-md-3">
                <div id="main-card" class="card">
                    <!--* Top navbar -->
                    <nav id="navbar-top" class="navbar navbar-expand-md navbar-dark bg-secondary py-1 px-2 border-bottom">
                        <a href="/scoreplus" class="navbar-brand fs-4 px-1">
                            <strong>Score Plus</strong>
                        </a>
                    
                        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-top-link"
                            aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
                    
                        <div id="nav-top-link" class="collapse navbar-collapse">
                            
                            <a id="account-btn" href="/account" class="btn btn-outline-light">
                                <i class="fas fa-user fa-lg"></i>
                            </a>
                    
                        </div>
                    </nav>

                    <!--*///// Start /////-->
                    <div class="container py-3 bg-secondary">
                        <div id="result-card" class="card-body bg-light">
                            
                            <!--* Search bar -->
                            <ul class=" mb-2 mb-lg-0">
                                <form id="search-form" action="/scoreplus/results" class="d-flex nav-item">
                                    <input id="search-input" name="search_query" class="form-control me-2" type="text" placeholder="Search" maxlength="18" aria-label="Search">
                                    <button id="search-btn" class="btn btn-outline-dark" type="button" aria-label="Search">
                                        <i class="fas fa-search fa-lg"></i>
                                    </button>
                                </form>
                            </ul>

                            <!--* Results -->
                            <h1>test</h1>
                            <ul>
                                <% for(let result of results) { %>
                                <li><%= result.date %> </li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                    <!--*///// End /////-->

                </div>
            </div>
        </div>
    </section>

    <script src="http://localhost:3000/data_control.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

</body>

</html>