<%-include('partials/head', {mySite: pageName })%>

    <body>
        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column is-half is-offset-one-quarter is-mobile">
                        <div id="mainCard" class="card">
                            <%-include('partials/navbar')%>

                                <!--///// Start /////-->
                                <div class="container">
                                    <div class="column is-11 is-offset-1">
                                        <div class="buttons">
                                            <a href="/ping_pong" class="button is-info is-light is-medium">
                                                <span class="icon-text">
                                                    <span class="icon">
                                                        <i class="fas fa-table-tennis"></i>
                                                    </span>
                                                    <span><strong>Ping Pong</strong></span>
                                                </span>
                                            </a>

                                            <a href="" class="button is-info is-light is-medium" disabled>
                                                <span class="icon-text">
                                                    <span class="icon">
                                                        <i class="fas fa-volleyball-ball"></i>
                                                    </span>
                                                    <span><strong>Volleyball</strong></span>
                                                </span>
                                            </a>

                                            <a href="" class="button is-info is-light is-medium" disabled>
                                                <span class="icon-text">
                                                    <span class="icon">
                                                        <i class="fas fa-basketball-ball"></i>
                                                    </span>
                                                    <span><strong>Basketball</strong></span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--///// End /////-->

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>

    </html>