<%-include('partials/head', {mySite: ""})%>

<body>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-half is-offset-one-quarter is-mobile">
                    <div id="mainCard" class="card">
                        <%-include('partials/navbar')%>

                        <!--///// Start /////-->
                        
                        <!--///// End /////-->

                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>