.section {
    padding: 3rem 1.5rem;
}

.btn:focus {
    box-shadow: none;
}

#t1Table, #t1Button, #t1Score, #t1Minus, #t1Plus {
    background-color: #e1eaee;
}

#t2Table, #t2Button, #t2Score, #t2Minus, #t2Plus {
    background-color: #e6e6d0;
}

#scoreKeeperCog {
    margin-left: 2rem;
    margin-bottom: .2rem;
    border: none;
}