.section {
    padding: 3rem 1.5rem;
}

.btn:focus {
    box-shadow: none;
}

#t1-table, #t1-input, #t1-score, #t1-minus, #t1-plus {
    background-color: #e1eaee;
}

#t2-table, #t2-input, #t2-score, #t2-minus, #t2-plus {
    background-color: #e6e6d0;
}

#score-nav-cog {
    margin-left: 2rem;
    margin-bottom: .2rem;
    border: none;
}

#deuce-bar {
    border: none;
    padding: 0;
}

/* #crownLeft {
    position: absolute;
    left: 1.5rem;
    top: 15rem;
} */

/* #crownRight {
    position: absolute;
    
} */